/* =================================================================
   BOX MODEL
   ================================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* =================================================================
   DOCUMENT
   ================================================================= */

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* =================================================================
   TYPOGRAPHY
   ================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

/* =================================================================
   MEDIA
   ================================================================= */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* =================================================================
   FORMS
   ================================================================= */

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: vertical;
}

/* =================================================================
   TABLES
   ================================================================= */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
